In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%sql sqlite:///library_final.db

Connecting to 'sqlite:///library_final.db'

In [6]:
%%sql
PRAGMA foreign_keys = ON;

Running query in 'sqlite:///library_final.db'

++
||
++
++

In [8]:
%sql
%config SqlMagic.displaylimit = None

Running query in 'sqlite:///library_final.db'

displaylimit: Value None will be treated as 0 (no limit)

In [34]:
%%sql
CREATE TABLE Patron (
    id INTEGER NOT NULL, 
    first_name CHAR(50) NOT NULL, 
    last_name CHAR(50) NOT NULL, 
    email CHAR(40) NOT NULL,
    PRIMARY KEY(id)
);

Running query in 'sqlite:///library_final.db'

++
||
++
++

In [14]:
%%sql
CREATE TABLE Items (
    item_id INTEGER NOT NULL, 
    title CHAR(100) NOT NULL , 
    type CHAR(50) NOT NULL,
    creator CHAR(50) NOT NULL,
    replacement_cost REAL NOT NULL, 
    status CHAR(15) NOT NULL, 
    PRIMARY KEY(item_id)
);

Running query in 'sqlite:///library_final.db'

++
||
++
++

In [16]:
%%sql
CREATE TABLE Staff (
    id INTEGER NOT NULL,
    position CHAR(30) NOT NULL, 
    salary REAL NOT NULL,
    PRIMARY KEY (id),
    FOREIGN KEY (id) REFERENCES Patron(id)
);

Running query in 'sqlite:///library_final.db'

++
||
++
++

In [18]:
%%sql
CREATE TABLE BorrowingHistory (
    id INTEGER NOT NULL, 
    item_id INTEGER NOT NULL, 
    checkoutDate CHAR(10) NOT NULL, 
    returnDate CHAR(10), 
    PRIMARY KEY(id, item_id), 
    FOREIGN KEY (id) REFERENCES Patron(id), 
    FOREIGN KEY (item_id) REFERENCES Items(item_id)
);

Running query in 'sqlite:///library_final.db'

++
||
++
++

In [20]:
%%sql
CREATE TABLE AcquisitionRequest (
    request_id INTEGER NOT NULL,
    requested_by INTEGER NOT NULL,
    request_status TEXT NOT NULL,
    item_type CHAR(50) NOT NULL,
    creator CHAR(50) NOT NULL,
    title CHAR(100) NOT NULL,
    PRIMARY KEY (request_id),
    FOREIGN KEY (requested_by) REFERENCES Patron(id)
);

Running query in 'sqlite:///library_final.db'

++
||
++
++

In [22]:
%%sql
CREATE TABLE Events (
    event_id INTEGER NOT NULL, 
    organizer INTEGER NOT NULL, 
    eventName CHAR(70) NOT NULL, 
    date CHAR(10) NOT NULL, 
    roomNum CHAR(10) NOT NULL, 
    audience CHAR(70),
    PRIMARY KEY (event_id), 
    FOREIGN KEY (organizer) REFERENCES Staff(id)
);

Running query in 'sqlite:///library_final.db'

++
||
++
++

In [24]:
%%sql
CREATE TABLE EventRegistrations (
    registration_id INTEGER, 
    event_id INTEGER NOT NULL, 
    patron_id INTEGER NOT NULL, 
    registration_date CHAR(10) NOT NULL, 
    PRIMARY KEY (registration_id), 
    FOREIGN KEY (event_id) REFERENCES Events(event_id), 
    FOREIGN KEY (patron_id) REFERENCES Patron(id), 
    UNIQUE(event_id, patron_id)
);

Running query in 'sqlite:///library_final.db'

++
||
++
++

In [26]:
%%sql
CREATE TABLE StaffRecords (
    record_id INTEGER, 
    staff_id INTEGER NOT NULL, 
    record_type CHAR(40) NOT NULL, 
    details CHAR(300),
    date CHAR(10) NOT NULL,
    PRIMARY KEY (record_id),
    FOREIGN KEY (staff_id) REFERENCES Staff(id)
);

Running query in 'sqlite:///library_final.db'

++
||
++
++

In [36]:
%%sql
SELECT name FROM sqlite_master WHERE type='table';

Running query in 'sqlite:///library_final.db'

+--------------------+
|        name        |
+--------------------+
|       Items        |
|       Staff        |
|  BorrowingHistory  |
| AcquisitionRequest |
|       Events       |
| EventRegistrations |
|    StaffRecords    |
|       Patron       |
+--------------------+

# Patron - Populate table

In [32]:
%%sql
DROP TABLE Patron;

Running query in 'sqlite:///library_final.db'

++
||
++
++

In [38]:
%%sql
INSERT INTO Patron VALUES (1, "Hayder", "AL-Musawi", "haider.mus@test.com"); 
INSERT INTO Patron VALUES (2, "Justinne", "Baltazar", "justinne.bal@test.com");
INSERT INTO Patron VALUES (3, "Jared", "McCain", "jmccain@gmail.com");
INSERT INTO Patron VALUES (4, "Nate", "McKinnon", "nmckinnon@gmail.com");
INSERT INTO Patron VALUES (5, "Cale", "Makar", "cmakar@gmail.com");
INSERT INTO Patron VALUES (6, "Blake", "Griffin", "bgriffin@gmail.com");
INSERT INTO Patron VALUES (7, "Toby", "Fournier", "tfournier@gmail.com");
INSERT INTO Patron VALUES (8, "Reigan", "Richardson", "rrichardson@gmail.com");
INSERT INTO Patron VALUES (9, "Cameron", "Brink", "cbrink@gmail.com");
INSERT INTO Patron VALUES (10, "Quinn", "Hughes", "qhughes@gmail.com");

Running query in 'sqlite:///library_final.db'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [40]:
%%sql
INSERT INTO Patron VALUES (11, "Brock", "Boeser", "bboeser@gmail.com");
INSERT INTO Patron VALUES (12, "Dakota", "Joshua", "djoshua@gmail.com");
INSERT INTO Patron VALUES (13, "Beatrice", "Laus", "blaus@gmail.com");
INSERT INTO Patron VALUES (14, "Claire", "Cottrill", "ccottrill@gmail.com");
INSERT INTO Patron VALUES (15, "Maria", "Zardoya", "mzardoya@gmail.com");
INSERT INTO Patron VALUES (16, "Arnold", "Zadorov", "azadorov@gmail.com");
INSERT INTO Patron VALUES (17, "Jalen", "Brunson", "jbrunson@gmail.com");
INSERT INTO Patron VALUES (18, "Josh", "Hart", "jhart@gmail.com");
INSERT INTO Patron VALUES (19, "Josh", "Turner", "jturner@gmail.com");
INSERT INTO Patron VALUES (20, "Alex", "Turner", "aturner@gmail.com");
INSERT INTO Patron VALUES (21, "Sabrina", "Poulin", "spoulin@gmail.com");

Running query in 'sqlite:///library_final.db'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [44]:
%%sql
SELECT * FROM Patron;

Running query in 'sqlite:///library_final.db'

+----+------------+------------+-----------------------+
| id | first_name | last_name  |         email         |
+----+------------+------------+-----------------------+
| 1  |   Hayder   | AL-Musawi  |  haider.mus@test.com  |
| 2  |  Justinne  |  Baltazar  | justinne.bal@test.com |
| 3  |   Jared    |   McCain   |   jmccain@gmail.com   |
| 4  |    Nate    |  McKinnon  |  nmckinnon@gmail.com  |
| 5  |    Cale    |   Makar    |    cmakar@gmail.com   |
| 6  |   Blake    |  Griffin   |   bgriffin@gmail.com  |
| 7  |    Toby    |  Fournier  |  tfournier@gmail.com  |
| 8  |   Reigan   | Richardson | rrichardson@gmail.com |
| 9  |  Cameron   |   Brink    |    cbrink@gmail.com   |
| 10 |   Quinn    |   Hughes   |   qhughes@gmail.com   |
| 11 |   Brock    |   Boeser   |   bboeser@gmail.com   |
| 12 |   Dakota   |   Joshua   |   djoshua@gmail.com   |
| 13 |  Beatrice  |    Laus    |    blaus@gmail.com    |
| 14 |   Claire   |  Cottrill  |  ccottrill@gmail.com  |
| 15 |   Maria    |  Zardoya   |   mzardoya@gmail.com  |
| 16 |   Arnold   |  Zadorov   |   azadorov@gmail.com  |
| 17 |   Jalen    |  Brunson   |   jbrunson@gmail.com  |
| 18 |    Josh    |    Hart    |    jhart@gmail.com    |
| 19 |    Josh    |   Turner   |   jturner@gmail.com   |
| 20 |    Alex    |   Turner   |   aturner@gmail.com   |
| 21 |  Sabrina   |   Poulin   |   spoulin@gmail.com   |
+----+------------+------------+-----------------------+

# Staff + StaffRecords Data

In [46]:
%%sql
INSERT INTO Staff VALUES (1, "Manager", 100000);
INSERT INTO Staff VALUES (2, "Manager", 100000);
INSERT INTO Staff VALUES (3, "Volunteer", 0);
INSERT INTO Staff VALUES (4, "Shelver", 13000);
INSERT INTO Staff VALUES (5, "Shelver", 13000);
INSERT INTO Staff VALUES (6, "Shelver", 13000);
INSERT INTO Staff VALUES (7, "Librarian", 70000);
INSERT INTO Staff VALUES (8, "Assitant Librarian", 65000);
INSERT INTO Staff VALUES (11, "Manager", 40000);
INSERT INTO Staff VALUES (12, "Clerk", 20000);
INSERT INTO Staff VALUES (13, "Clerk", 20000);
INSERT INTO Staff VALUES (14, "Archivist", 35000);
INSERT INTO Staff VALUES (16, "Volunteer", 0);
INSERT INTO Staff VALUES (18, "Volunteer", 0);

Running query in 'sqlite:///library_final.db'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [48]:
%%sql
SELECT * FROM Staff;

Running query in 'sqlite:///library_final.db'

+----+--------------------+----------+
| id |      position      |  salary  |
+----+--------------------+----------+
| 1  |      Manager       | 100000.0 |
| 2  |      Manager       | 100000.0 |
| 3  |     Volunteer      |   0.0    |
| 4  |      Shelver       | 13000.0  |
| 5  |      Shelver       | 13000.0  |
| 6  |      Shelver       | 13000.0  |
| 7  |     Librarian      | 70000.0  |
| 8  | Assitant Librarian | 65000.0  |
| 11 |      Manager       | 40000.0  |
| 12 |       Clerk        | 20000.0  |
| 13 |       Clerk        | 20000.0  |
| 14 |     Archivist      | 35000.0  |
| 16 |     Volunteer      |   0.0    |
| 18 |     Volunteer      |   0.0    |
+----+--------------------+----------+

In [54]:
%%sql
SELECT * FROM StaffRecords;

Running query in 'sqlite:///library_final.db'

+-----------+----------+--------------------+-------------------------------------------------------------------------------------------------+------------+
| record_id | staff_id |    record_type     |                                             details                                             |    date    |
+-----------+----------+--------------------+-------------------------------------------------------------------------------------------------+------------+
|     1     |    1     | Performance Review | Excellent leadership skills. Successfully managed budget constraints and improved staff morale. | 2024-11-15 |
|     2     |    3     |        Note        |         Completed Volunteer Orientation Program with outstanding feedback from patrons.         | 2024-10-22 |
|     3     |    7     |   Certification    |        Received Advanced Library Science Certification from American Library Association.       | 2024-08-05 |
|     4     |    4     |      Warning       |        Verbal warning issued for repeated tardiness. Improvement expected within 30 days.       | 2024-12-03 |
|     5     |    8     |    Commendation    |         Received Employee of the Month for developing the new children reading program.         | 2025-01-10 |
|     6     |    11    | Performance Review |               Meeting expectations. Suggested improvements in team communication.               | 2024-09-18 |
|     7     |    14    |    Commendation    |       Successfully completed digitization of rare manuscript collection ahead of schedule.      | 2024-07-30 |
|     8     |    12    | Performance Review |                  Being evaluated for Senior Clerk position. Assessment ongoing.                 | 2025-02-01 |
|     9     |    2     |   Leave Request    |        Approved sabbatical for professional development. Three months starting June 2025.       | 2025-02-15 |
|     10    |    16    |      Training      |       Completed advanced database management course to assist with digital catalog system.      | 2024-11-05 |
+-----------+----------+--------------------+-------------------------------------------------------------------------------------------------+------------+

In [52]:
%%sql
INSERT INTO StaffRecords (record_id, staff_id, record_type, details, date)
VALUES
(1, 1, 'Performance Review', 'Excellent leadership skills. Successfully managed budget constraints and improved staff morale.', '2024-11-15'),
(2, 3, 'Note', 'Completed Volunteer Orientation Program with outstanding feedback from patrons.', '2024-10-22'),
(3, 7, 'Certification', 'Received Advanced Library Science Certification from American Library Association.', '2024-08-05'),
(4, 4, 'Warning', 'Verbal warning issued for repeated tardiness. Improvement expected within 30 days.', '2024-12-03'),
(5, 8, 'Commendation', 'Received Employee of the Month for developing the new children reading program.', '2025-01-10'),
(6, 11, 'Performance Review', 'Meeting expectations. Suggested improvements in team communication.', '2024-09-18'),
(7, 14, 'Commendation', 'Successfully completed digitization of rare manuscript collection ahead of schedule.', '2024-07-30'),
(8, 12, 'Performance Review', 'Being evaluated for Senior Clerk position. Assessment ongoing.', '2025-02-01'),
(9, 2, 'Leave Request', 'Approved sabbatical for professional development. Three months starting June 2025.', '2025-02-15'),
(10, 16, 'Training', 'Completed advanced database management course to assist with digital catalog system.', '2024-11-05');

Running query in 'sqlite:///library_final.db'

10 rows affected.

++
||
++
++

In [23]:
%%sql
DROP TABLE EventRegistrations;
DROP TABLE Events;

Running query in 'sqlite:///new_library.db'

++
||
++
++

# Events Data

In [62]:
%%sql
SELECT * FROM Events;

Running query in 'sqlite:///library_final.db'

+----------+-----------+--------------------------------+------------+---------+---------------------------+
| event_id | organizer |           eventName            |    date    | roomNum |          audience         |
+----------+-----------+--------------------------------+------------+---------+---------------------------+
|    1     |     2     |           Book Club            | 2025-12-19 |   4332  |        Young Adults       |
|    2     |     1     |           Book Club            | 2025-10-12 |   4332  |       Adult Fiction       |
|    3     |     7     |           Book Club            | 2025-4-12  |   3121  |     Crime and Mystery     |
|    4     |     11    |   Games for English Learners   | 2025-4-10  |   3120  | Beginner English Speakers |
|    5     |     11    |   Games for English Learners   | 2025-5-10  |   3120  | Beginner English Speakers |
|    6     |     12    | Getting Started with Computers | 2025-5-15  |   4310  |  Computers and Technology |
|    7     |     6     |      Employment Services       | 2025-6-18  |   4311  |         Newcomers         |
|    8     |     4     |      Employment Services       | 2025-6-28  |   4311  |         Newcomers         |
|    9     |     8     |      CanFilmDay Screening      |  2025-9-6  |   3300  |        Film and TV        |
|    10    |     2     |           Book Club            | 2025-01-15 |   4330  |       Adult Fiction       |
|    11    |     7     |           Book Club            | 2025-02-16 |   4332  |     Crime and Mystery     |
|    12    |     12    | Getting Started with Computers | 2025-02-18 |   4310  |  Computers and Technology |
|    13    |     6     |      Employment Services       | 2025-03-19 |   4311  |         Newcomers         |
+----------+-----------+--------------------------------+------------+---------+---------------------------+

In [58]:
%%sql
INSERT INTO Events VALUES (1, 2, "Book Club", "2025-12-19", 4332, "Young Adults");
INSERT INTO Events VALUES (2, 1, "Book Club", "2025-10-12", 4332, "Adult Fiction");
INSERT INTO Events VALUES (3, 7, "Book Club", "2025-4-12", 3121, "Crime and Mystery");
INSERT INTO Events VALUES (4, 11, "Games for English Learners", "2025-4-10", 3120, "Beginner English Speakers");
INSERT INTO Events VALUES (5, 11, "Games for English Learners", "2025-5-10", 3120, "Beginner English Speakers");
INSERT INTO Events VALUES (6, 12, "Getting Started with Computers", "2025-5-15", 4310, "Computers and Technology");
INSERT INTO Events VALUES (7, 6, "Employment Services", "2025-6-18", 4311, "Newcomers");
INSERT INTO Events VALUES (8, 4, "Employment Services", "2025-6-28", 4311, "Newcomers");
INSERT INTO Events VALUES (9, 8, "CanFilmDay Screening", "2025-9-6", 3300, "Film and TV");

Running query in 'sqlite:///library_final.db'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

### Past Events

In [60]:
%%sql
INSERT INTO Events (event_id, organizer, eventName, date, roomNum, audience)
VALUES
(10, 2, "Book Club", "2025-01-15", 4330, "Adult Fiction"),
(11, 7, "Book Club", "2025-02-16", 4332, "Crime and Mystery"),
(12, 12, "Getting Started with Computers", "2025-02-18", 4310, "Computers and Technology"),
(13, 6, "Employment Services", "2025-03-19", 4311, "Newcomers");

Running query in 'sqlite:///library_final.db'

4 rows affected.

++
||
++
++

In [64]:
%%sql
INSERT INTO EventRegistrations (registration_id, event_id, patron_id, registration_date)
VALUES
(1, 10, 9, "2025-01-10"), 
(2, 11, 9, "2025-02-10"),
(3, 12, 9, "2025-02-11"),
(4, 12, 15, "2025-02-10"),
(5, 11, 15, "2025-02-11"),
(6, 13, 15, "2025-03-12"),
(7, 10, 15, "2025-01-09"),
(8, 10, 19, "2025-01-09"),
(9, 11, 19, "2025-02-11"),
(10, 13, 19, "2025-02-12"),
(11, 13, 17, "2025-02-12"),
(12, 10, 17, "2025-01-05");

Running query in 'sqlite:///library_final.db'

12 rows affected.

++
||
++
++

In [66]:
%%sql 
SELECT * FROM EventRegistrations;

Running query in 'sqlite:///library_final.db'

+-----------------+----------+-----------+-------------------+
| registration_id | event_id | patron_id | registration_date |
+-----------------+----------+-----------+-------------------+
|        1        |    10    |     9     |     2025-01-10    |
|        2        |    11    |     9     |     2025-02-10    |
|        3        |    12    |     9     |     2025-02-11    |
|        4        |    12    |     15    |     2025-02-10    |
|        5        |    11    |     15    |     2025-02-11    |
|        6        |    13    |     15    |     2025-03-12    |
|        7        |    10    |     15    |     2025-01-09    |
|        8        |    10    |     19    |     2025-01-09    |
|        9        |    11    |     19    |     2025-02-11    |
|        10       |    13    |     19    |     2025-02-12    |
|        11       |    13    |     17    |     2025-02-12    |
|        12       |    10    |     17    |     2025-01-05    |
+-----------------+----------+-----------+-------------------+

## Items Table

In [68]:
%%sql
INSERT INTO Items (item_id, title, type, creator, replacement_cost, status)
VALUES 
(1, 'Journal of Computer Science', 'Journal', 'ACM Publishing', 85.99, 'available'),
(2, 'Nature', 'Journal', 'Springer Nature', 75.50, 'available'),
(3, 'The Lancet', 'Journal', 'Elsevier', 120.00, 'available');

Running query in 'sqlite:///library_final.db'

3 rows affected.

++
||
++
++

In [70]:
%%sql
INSERT INTO Items (item_id, title, type, creator, replacement_cost, status)
VALUES 
(4, 'National Geographic', 'Magazine', 'National Geographic Society', 15.99, 'available'),
(5, 'The New Yorker', 'Magazine', 'Cond Nast', 12.50, 'available'),
(6, 'People', 'Magazine', 'Meredith', 10.95, 'available');

Running query in 'sqlite:///library_final.db'

3 rows affected.

++
||
++
++

In [72]:
%%sql
INSERT INTO Items (item_id, title, type, creator, replacement_cost, status)
VALUES 
(7, 'Thriller', 'Vinyl', 'Michael Jackson', 65.00, 'available'),
(8, 'The Dark Side of the Moon', 'Vinyl', 'Pink Floyd', 89.99, 'available'),
(9, 'Abbey Road', 'Vinyl', 'The Beatles', 120.00, 'checked_out');

Running query in 'sqlite:///library_final.db'

3 rows affected.

++
||
++
++

In [74]:
%%sql
INSERT INTO Items VALUES (10, "To Kill a Mockingbird", "Physical Book", "Harper Lee", 50, "available");
INSERT INTO Items VALUES (11, "1984", "Physical Book", "George Orwell", 30, "available");
INSERT INTO Items VALUES (12, "Clean Code: A Handbook of Agile Software Craftsmanship", "Online Book", "Robert C. Martin", 220, "available");
INSERT INTO Items VALUES (13, "Handmaid's Tale", "Physical Book", "Margaret Atwood", 30, "available");

Running query in 'sqlite:///library_final.db'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [80]:
%%sql
SELECT * FROM Items;

Running query in 'sqlite:///library_final.db'

+---------+--------------------------------------------------------+---------------+-----------------------------+------------------+-------------+
| item_id |                         title                          |      type     |           creator           | replacement_cost |    status   |
+---------+--------------------------------------------------------+---------------+-----------------------------+------------------+-------------+
|    1    |              Journal of Computer Science               |    Journal    |        ACM Publishing       |      85.99       |  available  |
|    2    |                         Nature                         |    Journal    |       Springer Nature       |       75.5       |  available  |
|    3    |                       The Lancet                       |    Journal    |           Elsevier          |      120.0       |  available  |
|    4    |                  National Geographic                   |    Magazine   | National Geographic Society |      15.99       |  available  |
|    5    |                     The New Yorker                     |    Magazine   |          Cond Nast         |       12.5       |  available  |
|    6    |                         People                         |    Magazine   |           Meredith          |      10.95       |  available  |
|    7    |                        Thriller                        |     Vinyl     |       Michael Jackson       |       65.0       |  available  |
|    8    |               The Dark Side of the Moon                |     Vinyl     |          Pink Floyd         |      89.99       |  available  |
|    9    |                       Abbey Road                       |     Vinyl     |         The Beatles         |      120.0       | checked_out |
|    10   |                 To Kill a Mockingbird                  | Physical Book |          Harper Lee         |       50.0       |  available  |
|    11   |                          1984                          | Physical Book |        George Orwell        |       30.0       |  available  |
|    12   | Clean Code: A Handbook of Agile Software Craftsmanship |  Online Book  |       Robert C. Martin      |      220.0       |  available  |
|    13   |                    Handmaid's Tale                     | Physical Book |       Margaret Atwood       |       30.0       |  available  |
|    14   |                    The Great Gatsby                    | Physical Book |     F. Scott Fitzgerald     |      15.99       | checked_out |
|    15   |                     The Godfather                      |      DVD      |     Francis Ford Coppola    |      24.99       | checked_out |
|    16   |                     Crowded House                      |     Vinyl     |        Crowded House        |      89.99       | checked_out |
|    17   |                  Scientific American                   |    Magazine   |   Scientific American Inc.  |       8.99       | checked_out |
|    18   |              Principles of Neural Science              | Physical Book |         Eric Kandel         |      120.0       | checked_out |
|    19   |                       Dead Souls                       | Physical Book |        Nikolai Gogol        |      45.99       | checked_out |
|    20   |                     The Book Thief                     | Physical Book |         Markus Zusak        |       24.0       | checked_out |
|    21   |                           AM                           |     Vinyl     |        Arctic Monkeys       |       85.0       | checked_out |
+---------+--------------------------------------------------------+---------------+-----------------------------+------------------+-------------+

In [76]:
%%sql
INSERT INTO Items (item_id, title, type, creator, replacement_cost, status)
VALUES
(19, 'Dead Souls', 'Physical Book', 'Nikolai Gogol', 45.99, 'checked_out'),
(20, 'The Book Thief', 'Physical Book', 'Markus Zusak', 24.00, 'checked_out'),
(21, 'AM', 'Vinyl' ,'Arctic Monkeys', 85.00, 'checked_out');

Running query in 'sqlite:///library_final.db'

3 rows affected.

++
||
++
++

In [78]:
%%sql
INSERT INTO Items (item_id, title, type, creator, replacement_cost, status)
VALUES
(14, 'The Great Gatsby', 'Physical Book', 'F. Scott Fitzgerald', 15.99, 'checked_out'),
(15, 'The Godfather', 'DVD', 'Francis Ford Coppola', 24.99, 'checked_out'),
(16, 'Crowded House', 'Vinyl', 'Crowded House', 89.99, 'checked_out'),
(17, 'Scientific American', 'Magazine', 'Scientific American Inc.', 8.99, 'checked_out'),
(18, 'Principles of Neural Science', 'Physical Book', 'Eric Kandel', 120.00, 'checked_out');

Running query in 'sqlite:///library_final.db'

5 rows affected.

++
||
++
++

# BorrowingHistory

In [82]:
%%sql
INSERT INTO BorrowingHistory (id, item_id, checkoutDate, returnDate) 
VALUES
(7, 14, '2025-01-01', NULL),
(11, 15, '2024-12-29', NULL),
(12, 16, '2024-02-28', NULL),
(4, 17, '2025-03-30', '2025-04-27'),
(5, 18, '2025-03-13', '2025-04-10');

Running query in 'sqlite:///library_final.db'

5 rows affected.

++
||
++
++

In [84]:
%%sql
INSERT INTO BorrowingHistory (id, item_id, checkoutDate, returnDate) 
VALUES
(20, 19, '2025-02-03', NULL),
(21, 21, '2024-12-13', NULL),
(17, 20, '2025-01-02', NULL);

Running query in 'sqlite:///library_final.db'

3 rows affected.

++
||
++
++

In [86]:
%%sql
INSERT INTO BorrowingHistory (id, item_id, checkoutDate, returnDate) 
VALUES
(2, 9, '2025-03-30', '2025-04-27');

Running query in 'sqlite:///library_final.db'

1 rows affected.

++
||
++
++

## Testing non-Staff patron to have borrowed multiple items in the past

In [88]:
%%sql
INSERT INTO BorrowingHistory (id, item_id, checkoutDate, returnDate)
VALUES
(9, 2, '2025-02-02', '2025-02-14'),
(9, 6, '2025-01-10', '2025-01-25'),
(9, 8, '2024-12-22', '2025-01-09'),
(2, 13, '2025-02-10', '2025-02-27');

Running query in 'sqlite:///library_final.db'

4 rows affected.

++
||
++
++

In [90]:
%%sql
SELECT * FROM BorrowingHistory;

Running query in 'sqlite:///library_final.db'

+----+---------+--------------+------------+
| id | item_id | checkoutDate | returnDate |
+----+---------+--------------+------------+
| 7  |    14   |  2025-01-01  |    None    |
| 11 |    15   |  2024-12-29  |    None    |
| 12 |    16   |  2024-02-28  |    None    |
| 4  |    17   |  2025-03-30  | 2025-04-27 |
| 5  |    18   |  2025-03-13  | 2025-04-10 |
| 20 |    19   |  2025-02-03  |    None    |
| 21 |    21   |  2024-12-13  |    None    |
| 17 |    20   |  2025-01-02  |    None    |
| 2  |    9    |  2025-03-30  | 2025-04-27 |
| 9  |    2    |  2025-02-02  | 2025-02-14 |
| 9  |    6    |  2025-01-10  | 2025-01-25 |
| 9  |    8    |  2024-12-22  | 2025-01-09 |
| 2  |    13   |  2025-02-10  | 2025-02-27 |
+----+---------+--------------+------------+

# Acquisition Requests

In [92]:
%%sql
INSERT INTO AcquisitionRequest (request_id, requested_by, request_status, item_type, creator, title)
VALUES
(1, 1, 'Pending', 'Physical Book', 'Haruki Murakami', 'Kafka on the Shore'),
(2, 2, 'Pending', 'Physical Book', 'Donna Tartt', 'The Secret History'),
(3, 3, 'Pending', 'Physical Book', 'Chimamanda Ngozi Adichie', 'Americanah'),
(4, 4, 'Pending', 'Audiobook', 'Andy Weir', 'Project Hail Mary'),
(5, 5, 'Pending', 'Audiobook', 'Michelle Obama', 'Becoming'),
(6, 8, 'Pending', 'DVD', 'Christopher Nolan', 'Oppenheimer'),
(7, 7, 'Pending', 'DVD', 'Greta Gerwig', 'Barbie'),
(9, 9, 'Pending', 'CD', 'The Red Hot Chili Peppers', 'Californication'),
(8, 10, 'Pending', 'Physical Book', 'Thomas H. Cormen', 'Introduction to Algorithms'),
(10, 18, 'Pending', 'Online Book', 'Yuval Noah Harari', 'Sapiens'),
(11, 11, 'Pending', 'Physical Book', 'Fyodor Dostoevsky', 'Crime and Punishment'),
(12, 12, 'Pending', 'Vinyl', 'Taylor Swift', 'Midnights'),
(13, 15, 'Pending', 'CD', 'Kendrick Lamar', 'To Pimp a Butterfly'),
(14, 14, 'Pending', 'Vinyl', 'The Strokes', 'Is This It');

Running query in 'sqlite:///library_final.db'

14 rows affected.

++
||
++
++

In [94]:
%%sql
SELECT * FROM AcquisitionRequest;

Running query in 'sqlite:///library_final.db'

+------------+--------------+----------------+---------------+---------------------------+----------------------------+
| request_id | requested_by | request_status |   item_type   |          creator          |           title            |
+------------+--------------+----------------+---------------+---------------------------+----------------------------+
|     1      |      1       |    Pending     | Physical Book |      Haruki Murakami      |     Kafka on the Shore     |
|     2      |      2       |    Pending     | Physical Book |        Donna Tartt        |     The Secret History     |
|     3      |      3       |    Pending     | Physical Book |  Chimamanda Ngozi Adichie |         Americanah         |
|     4      |      4       |    Pending     |   Audiobook   |         Andy Weir         |     Project Hail Mary      |
|     5      |      5       |    Pending     |   Audiobook   |       Michelle Obama      |          Becoming          |
|     6      |      8       |    Pending     |      DVD      |     Christopher Nolan     |        Oppenheimer         |
|     7      |      7       |    Pending     |      DVD      |        Greta Gerwig       |           Barbie           |
|     8      |      10      |    Pending     | Physical Book |      Thomas H. Cormen     | Introduction to Algorithms |
|     9      |      9       |    Pending     |       CD      | The Red Hot Chili Peppers |      Californication       |
|     10     |      18      |    Pending     |  Online Book  |     Yuval Noah Harari     |          Sapiens           |
|     11     |      11      |    Pending     | Physical Book |     Fyodor Dostoevsky     |    Crime and Punishment    |
|     12     |      12      |    Pending     |     Vinyl     |        Taylor Swift       |         Midnights          |
|     13     |      15      |    Pending     |       CD      |       Kendrick Lamar      |    To Pimp a Butterfly     |
|     14     |      14      |    Pending     |     Vinyl     |        The Strokes        |         Is This It         |
+------------+--------------+----------------+---------------+---------------------------+----------------------------+

In [50]:
%%sql
DROP TABLE AcquisitionRequest;

Running query in 'sqlite:///new_library.db'

++
||
++
++